<IfModule mod_rewrite.c>
  AddType image/jpeg .jpeg .jpg
  RewriteEngine On
  RewriteCond %{REQUEST_URI} !^/content/.*$
  RewriteCond %{REQUEST_URI} !^/favicon\.ico$
  RewriteRule ^ index.php
</IfModule>